.blocks{
    list-style: none;
    display: inline-flex;
    padding-top: 50px;
    color: #017d1e;
}

.one{
    list-style: none;
    display: inline-flex;
    padding-top: 20px;
}

i{
    color: #064a1b;
}

nav a{
    color: #e2f1a0;
}

nav a:hover{
    color: #c8d741;
}

.dropdown-menu a:hover{
    background-color: #e2f1a0;
}

.card{
    background-color: #6d8700;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width: 20px;
    border-color: #6d8700;
}

.info{
    background-color: #6d8700;
    border-left-width: 5px;
    border-right-width: 5px;
    border-top-width: 5px;
    border-color: #6d8700;
}

.card p{
    font-size: 30px;
    font-family: serif
}